<template name='createUserForm'>
  <header>
    <h5>Create Account</h5>
    <button class='close'>×</button>
  </header>
  <div class='panel-body'>
    <div class='form-wrapper'>
      <div class='intro-form-wrapper'>
        <form id='register-form' class='intro-form'>
          <input type='email' id='account-email' class='large wide' placeholder='Email'/>
          <input type='password' id='account-password' class='large wide' placeholder='Password' />
          <input type='submit' id='create-account' class='btn btn-pink large wide' value='Create an Account' />
        </form>
      </div>
    </div>
  </div>
</template>