<template name='passwordRecoveryForm'>
  <header>

    {{#if resetToken}}
    <h5>Enter New Password</h5>
    {{else}}
    <h5>Reset Password</h5>
    {{/if}}

    <button class='close'>×</button>
  </header>
  <div class='panel-body'>
    <div class='form-wrapper'>
      <div class='intro-form-wrapper'>
        <div class='intro-form'>

          {{#if resetToken}}
            <form id='new-password'>
              <input type='text' id='new-password-password' class='large wide' placeholder='New Password' />
              <input type='submit' class='btn btn-pink large wide' value='Change Password'/>
            </form>
          {{else}}
            <form id='recovery-form'>
              <input type='text' id='recovery-email' class='large wide' placeholder='Your Email Address'/>
              <input type='submit' class='btn btn-pink large wide' value='Send Reset Instructions' />
            </form>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</template>